# JetBrains IDE
.idea

# Node.js
**/node_modules
pnpm-lock.yaml

# Next.js
.next
out
.cache
# public
# !public/templates/report-template.js

# misc
.DS_Store

# typescript
next-env.d.ts

# husky
.husky

# prettier
.prettierignore

# git
.gitignore

# env files
.env*

# Patch Files
*.patch

# Temporary docx files
media/
